<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Editar perfil Social Pogona Henrylawsoni</title>
    <figure>
    <div style="text-align: center;"> 
     <img src="imagenes/logo3.png" alt="logo">
    </div>
    </figure>
</header>
<body>
    <section class="profile">
        <h4>Editar Perfil</h4>
        <label for="">Nombres:</label>
        <input class="square" type="text"  name="Nombre" id="Nombre" placeholder="Ingresa tu nombre">
        <label for="">Apellidos:</label>
        <input class="square" type="text" name="Apellido" id="Apellido" placeholder="Ingresa tu apellido">
        <label for="">Correo:</label>
        <input class="square" type="email" name="Correo" id="Correo" placeholder="Ingresa tu Correo"><br><br>
        <label for="">Mi Foto:</label>
        <input class="square" type="photo" name="Foto" id="Foto" placeholder="sube tu Foto"> 
        <label for="">Contraseña:</label>
        <input class="square" type="password" name="Contraseña" id="Contraseña" required minlength="8" maxlength="10" placeholder="Ingresa tu contraseña">
         <P><a href="#">cargar Foto</a>
            <br><br>
        <input class="click" type="submit" value="GUARDAR" >
       

    </section>

</body>

</html>