<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Registro Social Pogona Henrylawsoni</title>
    <figure>
    <div style="text-align: center;"> 
     <img src="imagenes/logo3.png" alt="logo" >
    </div>
    </figure>
</header>
<body>
    <section class="form-register">
        <h4>Formulario Registro</h4>
        <label for="">Nombres:</label>
        <input class="controls" type="text"  name="Nombre" id="Nombre" placeholder="Ingresa tu nombre">
        <label for="">Apellidos:</label>
        <input class="controls" type="text" name="Apelido" id="Apellido" placeholder="Ingresa tu apellido">
        <label for="">Nombre de usuario:</label>
        <input class="controls" type="text" name="Apelido" id="Apellido" placeholder="Ingresa tu nombre de usuario">
        <label for="">Correo:</label>
        <input class="controls" type="email" name="Correo" id="Correo" placeholder="Ingresa tu Correo">
        <label for="">Contraseña:</label>
        <input class="controls" type="password" name="Contraseña" id="Contraseña" required minlength="8" maxlength="10" placeholder="Ingresa tu contraseña">
        <label for="">Confirmar Contraseña:</label>
        <input class="controls" type="password" name="Contraseña" id="Contraseña" required minlength="8" maxlength="10" placeholder="Ingresa nuevamente tu contraseña">
        <label for="">Fecha de nacimiento:</label>
        <input class="controls" type="password" name="Fecha de nacimiento" id="Contraseña" placeholder="Ingresa tu fecha de nacimiento">
        <p><input id="txtLicencia" type="checkbox" required> <label for="txtLicencia"></label><a href="#">Acepto Terminos y condiciones</a></p>
        <input class="botons" type="submit" value="REGISTRAR CUENTA">
        <P><a href="#">Ya tengo cuenta</a></P>

    </section>

</body>

</html>