<head>


<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../../Red_social_Team12/css/super_admin.css" type="text/css" />
<script language="JavaScript" type="text/javascript">
//--------------- LOCALIZEABLE GLOBALS ---------------
var d=new Date();
var monthname=new Array("January","February","March","April","May","June","July","August","September","October","November","December");



var TODAY = monthname[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
//---------------   END LOCALIZEABLE   ---------------
</script>
</head>
<body bgcolor="#F4FFE4">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#D5EDB3">
    <td colspan="3" rowspan="2"><a href="../../Red_social_Team12/admin.html"><img src="../../Red_social_Team12/imagenes/camaleon.png" width="133" height="111" border="0" align="right" /></a></td>
    <td id="logo" valign="bottom" align="center" nowrap="nowrap">POGONA HENRY LAWSONI</td>
    <td height="50" id="logo" valign="bottom" align="center" nowrap="nowrap">&nbsp;</td>
    <td width="6">&nbsp;</td>
  </tr>

  <tr bgcolor="#D5EDB3">
    <td id="tagline" valign="top" align="center"><strong>MODULO DE ADMINISTRACION</strong></td>
    <td height="25" id="tagline" valign="top" align="center">&nbsp;</td>
	<td width="6">&nbsp;</td>
  </tr>

  <tr>
    <td colspan="6" bgcolor="#5C743D"><img src="../../Red_social_Team12/imagenes/mm_spacer.gif" alt="" width="1" height="2" border="0" /></td>
  </tr>

  <tr>
    <td colspan="6" bgcolor="#99CC66" background="../../Red_social_Team12/mm_dashed_line.gif"><img src="../../Red_social_Team12/imagenes/mm_dashed_line.gif" alt="line decor" width="4" height="3" border="0" /></td>
  </tr>

  <tr bgcolor="#99CC66">
  	<td colspan="6" id="dateformat" height="20">&nbsp;&nbsp;<script language="JavaScript" type="text/javascript">
      document.write(TODAY);	</script>	</td>
  </tr>
  <tr>
    <td colspan="6" bgcolor="#99CC66" background="../../Red_social_Team12/imagenes/mm_dashed_line.gif">&nbsp;</td>
  </tr>

  <tr>
    <td colspan="6" bgcolor="#5C743D"><img src="../../Red_social_Team12/imagenes/mm_spacer.gif" alt="" width="1" height="2" border="0" /></td>
  </tr>

 <tr>
    <td width="207" valign="top" bgcolor="#5C743D">
	<table border="0" cellspacing="0" cellpadding="0" width="207" id="navigation">
        <tr>
          <td width="207">&nbsp;<br />
		 &nbsp;<br /></td>
        </tr>
        <tr>
          <td width="207"><a href="javascript:;" class="navText"><img src="../../Red_social_Team12/imagenes/llaves.png" width="21" height="22" /> Activaci&oacute;n Red Social </a></td>
        </tr>
        <tr>
          <td width="207"><a href="javascript:;" class="navText"><img src="../../Red_social_Team12/imagenes/llaves.png" width="21" height="22" /> Bloquear Red Social </a></td>
        </tr>
        <tr>
          <td width="207"><a href="javascript:;" class="navText"><img src="../../Red_social_Team12/imagenes/llaves.png" width="21" height="22" /> Crear  Administrador</a></td>
        </tr>
        <tr>
          <td width="207"><a href="javascript:;" class="navText"><img src="../../Red_social_Team12/imagenes/llaves.png" width="21" height="22" /> Eliminar  Administrador</a></td>
        </tr>
        
        <tr>
          <td background="../../Red_social_Team12/admin.html"><a href="../../s3/templates/admin.html" class="navText"><img src="../../Red_social_Team12/imagenes/ajustes.png" width="30" height="28" border="0" /> Gesti&oacute;n de Cuentas </a></td>
        </tr>
        <tr>
          <td><a href="javascript:;" class="navText"><img src="../../Red_social_Team12/imagenes/camaleon(1).png" width="37" height="35" /> SALIR</a></td>
        </tr>
      </table>
 	 <br />
  	&nbsp;<br />
  	&nbsp;<br />
  	&nbsp;<br /> 	</td>
    <td width="50"><img src="../../Red_social_Team12/imagenes/mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
    <td colspan="3" valign="top"><img src="../../Red_social_Team12/imagenes/mm_spacer.gif" alt="" width="305" height="1" border="0" /><br />
	&nbsp;<br />
	&nbsp;<br />
	<table border="0" cellspacing="0" cellpadding="0" width="755">
        <tr>
          <td width="452" class="pageName"><div align="center"><strong>BIENVENIDO AL MODULO DE ADMINISTRACION DE LA RED SOCIAL</strong></div></td>
		</tr>

		<tr>
          <td class="bodyText"><p>&nbsp;</p>
          <p align="justify" class="navText"><strong>Este modulo facilita la gestion de la plataforma y administraci&oacute;n de usuarios. Tenga en cuenta, que la gesti&oacute;n de la plataforma de la red social, exige doble factor de autenticacion. </strong></p></td>
        </tr>
      </table>
	 <br />
	&nbsp;<br />	</td>
    <td width="6">&nbsp;</td>
  </tr>
  <tr>
    <td width="207">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td width="4">&nbsp;</td>
    <td width="668">&nbsp;</td>
    <td width="177">&nbsp;</td>
    <td width="6">&nbsp;</td>
  </tr>
</table>
</body>
</html>
